<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Subject | Tools For Fools</title>
</head>
<body>

<h1> Step 1 </h1>
<form action="http://127.0.0.1:8000/results/">
    <label for="Subject">Choose a Subject:</label>
    <select id="Subject" name="SubjectSelection">
        <option value="Knife Skills">Knife Skills</option>
        <option value="Culinary Terms">Culinary Terms</option>
        <option value="Recipes">Recipes</option>
    </select>

<h1> Step 2 </h1>
    <label for="Level">Choose a Level:</label>
    <select id="Level" name="LevelSelection">
        <option value="Beginner">Beginner</option>
        <option value="Intermediate">Intermediate</option>
        <option value="Advanced">Advanced</option>
    </select>

<h1> Step 3 </h1>
    <label for="Medium">Choose a Medium:</label>
    <select id="Medium" name="MediumSelection">
        <option value="Article">Article/Blog</option>
        <option value="Book">Video</option>
        <option value="Video">Book</option>
    </select>
    <input type="Submit">
</form>

</body>
</html>
